#jorr-picasso
{
  position: relative;
}

#jorr-picasso:hover
{
  position: relative;
  transform: scale(1.05);
}

#jorr-wrapper
{
  position: relative;
  left: 350px;
  top: -220px;
}

#jorr-wrapper > img
{
  cursor: url('mouse-cursor.png'), default;
}

h1, #number-display, #tps-display
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
