body
{
  background-color: #fab73d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header, footer
{
  background-color: #fddca5;
  border-radius: 7px;
  padding: 12px;
  text-align: center;
  display: inline-flex;
  max-width: 700px;
  justify-content: space-between;
}

header > h1
{
  display: inline;
}

#content
{
  background-color: #546747;
  margin: 10px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}