body
{
  background-image: url("106_6260.JPG");
  background-size: 100% auto;
  font-family: "Aldrich";
  margin: 0%;
  padding: 0px;
}

.intro
{
  margin-top: 2%;
}

.intro, #zen-supporting, .sidebar
{
  background-color: rgba(180, 69, 78, 0.9);
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(235, 156, 162);
}

.summary
{
  background-color:rgb(122, 126, 127);
  padding: 5px;
  margin: 3%;
}

.preamble
{
  background-color:rgb(134, 136, 135);
  padding: 5px;
  margin: 3%;
}

h1, h2
{
  background: rgb(206, 98, 98);
  display: inline-block;
  opacity: 100%;
  padding: 3px;
  margin: 5px;
}

h3
{
  background: rgb(173, 171, 156);
  display: inline-block;
  opacity: 100%;
  padding: 3px;
  margin: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(123, 124, 120);
}

h1
{
  display: block;
  text-align: center;
}

p
{
  background: rgb(82,86,87);
  background: linear-gradient(0deg, rgba(82,86,87,1) 0%, rgba(135,135,135,1) 79%, rgba(82,86,87,1) 100%);
  width: 90%;
  align-self: center;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgb(72,76,77);
}

#zen-supporting
{
  display: grid;
  margin: 5%;
  grid-template-rows: auto auto auto auto auto;
}

.wrapper
{
  display: grid;
  grid-template-columns: auto auto auto;
}

.sidebar
{
  background: rgb(84,96,92);
background: linear-gradient(0deg, rgba(84,96,92,1) 0%, rgba(150,182,195,1) 69%, rgba(223,223,213,1) 100%);
  margin: 0%;
  border:none;
}

a
{
  color: rgb(146, 68, 68);
}

a:hover
{
  color: rgb(235, 156, 162);
}