body
{
  background-image: url("https://images5.alphacoders.com/929/thumb-1920-929041.jpg");
  text-align: center;
}

h2
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#div0
{
  background-color: aliceblue;
  width: 70%;
  padding: 10px;
  margin: auto;
}